<h2>Ratings</h2>

Total ratings: <%= @ratings.count %>

<h3>
  Most recent ratings
</h3>

<ul>
  <% @recent_ratings.each do |rating| %>
   <li>
    <%= "#{rating.beer.name} #{rating.score}" %>
    <%= link_to rating.user.username, rating.user %>
    <%= rating.created_at.strftime("%b %d, %Y %a") %>
   </li>
 <% end %>
</ul>

<h3>
  Top beers
</h3>

<ul>
  <% @top_beers.each do |beer| %>
   <li>
    <%= "#{beer.name} #{beer.average_rating}" %>
   </li>
 <% end %>
</ul>

<h3>
  Top breweries
</h3>

<ul>
  <% @top_breweries.each do |brewery| %>
   <li>
    <%= "#{brewery.name} #{brewery.average_rating}" %>
   </li>
 <% end %>
</ul>

<%= link_to "New rating", new_rating_path, class:'btn btn-primary' if current_user %>
